<h1>LogIn</h1>
<%= flash[:notice] %>

<%= form_for(:session) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br><br>
  <%= f.submit "LogIn" %>
<% end %>