<h1> Welcome <%= @user.first_name %> <%= @user.last_name %> </h1>

<h3>Here are your games</h3>

<% @games.each do |game| %>
<ul>
    <li><%=link_to game.title, game_path(game) %> <br><br><%=link_to "Delete", game_path(game), method: :delete %></li> <%=link_to "Edit Game", edit_game_path(game)%></li>
    </ul>
<% end %>


<%= link_to "Add a New Game", new_game_path %><br><br>
<%= link_to "View All Games", games_path %><br><br>
<%= link_to 'Delete your account', user_path(current_user), method: :delete %><br><br>
<%= link_to "LogOut", logout_url, method: :delete %>

