

<%= simple_form_for @game do |f| %>
<%= f.input :title, label: "Game Title" %>
<%= f.input :platform %>
<%= f.input :description %>
<%= f.input :genre %>
<%= f.hidden_field :creator_id%>
<%= f.button :submit %>

<li><%= link_to "LogOut", logout_url, method: :delete %></li>


<% end %>