 <%= render "shared/flash" %>

<h1> Game Information </h1>

<h4>Game Title: <%= @game.title %> </h4>
<h4>Platform: <%= @game.platform %> </h4>
<h4>Name of Creator: <%= @game.creator.first_name%> <%= @game.creator.last_name%>  </h4>
<h4>Genre: <%= @game.genre%> </h4>
<h4>Brief Description: <%= @game.description %> </h4>

<h4>Reviews:</h4>
<table>
  <% @game.reviews.each do |review| %>
    <tr>
       <td><%= review.content %> </td>
       <td>by</td>
       <td><%= review.reviewer.first_name %> <%= review.reviewer.last_name %></td> 
       <td><%=link_to "Edit Review", edit_game_review_path(@game, review)%></li></td>
    </tr>
  <% end %>
</table><br><br>

<%= link_to "Add Review", new_game_review_path(@game) %><br><br>

<%= link_to "Home", user_path(current_user) %><br><br>

<%= link_to "LogOut", logout_url, method: :delete %>




  



